body {color:gray;}
h1 {text-align: center;
	font-size: 35pt;
	font-family:consolas;
}
hr {
	color:black;
	position: center;
	width: 70;
	size: 3
}
p {
	text-align: center;
	color:black;
	font-family: tahoma;
	font-size: 15pt
}
li{
	font-size: 15pt;
	font-family: arial;
	color:blue
}
a {
	color:green;
	font-weight: bold;
	font-style: italic;
}
th {
	font-weight: bold;
	text-align: center;
	color:black;
	font-size: 20pt;
	background-color: #FFF082
}
td {
	text-align: center;
	color:black;
	font-weight: bold;
	font-size: 15pt;
}
caption {font-size: 30pt;font-weight: bold; color:black;}